<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="9f8a2870-2700-4ff4-aae1-5eb965577c72" Publisher="CN=Derik" Version="1.0.0.0" />
  <Properties>
    <DisplayName>LL.LiveTiles</DisplayName>
    <PublisherDisplayName>Derik</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LL.LiveTiles.App">
      <VisualElements DisplayName="LL Live Tiles" Logo="LiveTiles_150x150.png" SmallLogo="PearsonTiles_30x30.png" Description="LL.LiveTiles" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="LiveTiles_3100x150.png" />
        <SplashScreen Image="LiveTilesSplash_620x300.png" BackgroundColor="#757575" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>