<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  
  <Identity Name="8485b931-5367-4273-b89b-d875d6b075e1"
            Publisher="CN=derik"
            Version="1.0.0.0" />
  
  <Properties>
    <DisplayName>Metro.LL.DisplayingDataWithBinding</DisplayName>
    <PublisherDisplayName>derik</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>Metro.LL.DisplayingDataWithBinding</Description>
  </Properties>
  
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="en-us"/>
  </Resources>
  
  <Applications>
    <Application Id="App" 
        Executable="metro.ll.displayingdatawithbinding.exe" 
        EntryPoint="Metro.LL.DisplayingDataWithBinding.App">
        <VisualElements 
            DisplayName="Metro.LL.DisplayingDataWithBinding"
            Logo="Images\Logo.png"
            SmallLogo="Images\SmallLogo.png"
            Description="Metro.LL.DisplayingDataWithBinding"
            ForegroundText="light"
            BackgroundColor="#222222">
            <SplashScreen Image="Images\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>