<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="7935ee77-215e-43ce-a775-8be4c85bbced" Publisher="CN=Derik" Version="1.0.0.0" />
  <Properties>
    <DisplayName>LL.SettingsContract</DisplayName>
    <PublisherDisplayName>Derik</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LL.SettingsContract.App">
      <VisualElements DisplayName="LL.SettingsContract" Logo="SettingsContractTiles_150x150.png" SmallLogo="PearsonTiles_30x30.png" Description="LL.SettingsContract" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="SettingsContractTiles_310x150.png" />
        <SplashScreen Image="SuspensionSplash_620x300.png" BackgroundColor="#757575" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>