<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="e389958e-b119-4e23-afdd-e4df13c70dba" Publisher="CN=Derik" Version="1.0.0.0" />
  <Properties>
    <DisplayName>LL.IntroToMVVM</DisplayName>
    <PublisherDisplayName>Derik</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LL.IntroToMVVM.App">
      <VisualElements DisplayName="LL.IntroToMVVM" Logo="IntroductionToMVVM_150x150.png" SmallLogo="PearsonTiles_30x30.png" Description="LL.IntroToMVVM" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="IntroductionToMVVMTiles_310.png" />
        <SplashScreen Image="IntroductionToMVVMSplash_62.png" BackgroundColor="#757575" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>