<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="b79662a6-a4b2-4382-96e2-3011435c7308" Publisher="CN=Derik" Version="1.0.0.0" />
  <Properties>
    <DisplayName>LL.DisplayDataWithBinding</DisplayName>
    <PublisherDisplayName>Derik</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LL.DisplayDataWithBinding.App">
      <VisualElements DisplayName="Display Data With Binding" Logo="DatabindingInMVVM_150x150.png" SmallLogo="PearsonTiles_30x30.png" Description="LL.DisplayDataWithBinding" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="DatabindingInMVVM_310x150.png" />
        <SplashScreen Image="DatabindingInMVVMSplash_62.png" BackgroundColor="#757575" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>