<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="bab1feef-0aa4-4959-b6ad-7c7b7af56f7f" Publisher="CN=Derik" Version="1.0.0.0" />
  <Properties>
    <DisplayName>LL.DataWithCommanding</DisplayName>
    <PublisherDisplayName>Derik</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LL.DataWithCommanding.App">
      <VisualElements DisplayName="Data Actions w/ Commanding" Logo="CommandingInMVVM_150x150.png" SmallLogo="PearsonTiles_30x30.png" Description="LL.DataWithCommanding" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="CommandingInMVVM_310x150.png" />
        <SplashScreen Image="CommandingInSplash_620x300.png" BackgroundColor="#757575" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>