<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="5cc05ace-5a13-4678-966a-f1e4395b010c" Publisher="CN=Derik" Version="1.0.0.0" />
  <Properties>
    <DisplayName>LL.FlipView</DisplayName>
    <PublisherDisplayName>Derik</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LL.FlipView.App">
      <VisualElements DisplayName="LL.FlipView" Logo="FlipViewTiles_150x150.png" SmallLogo="PearsonTiles_30x30.png" Description="LL.FlipView" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="FlipViewTiles_310x150.png" />
        <SplashScreen Image="FlipViewSplash_620x300.png" BackgroundColor="#757575" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>